[mysqld]
#server_id = 100 
#log-bin = mysql-bin
port = 3306
log-error = /var/log/mysql/error.log
skip_name_resolve 
character-set-server = utf8mb4
collation-server = utf8mb4_general_ci
init_connect = 'SET NAMES utf8mb4'
max_connections = 300
#auto_increment_increment=2
#auto_increment_offset=1
